.Result {
    max-width: 512px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;

    .SubHeader {
        .GoBack {
            all: unset;
            cursor: pointer;
            display: flex;
            font-size: 20px;
            font-weight: 200;
            padding: 14px 0;

            .BackIcon {
                background-image: url(../../assets/images/goBack.svg);
                background-size: contain;
                background-position: center;
                height: 24px;
                width: 24px;
            }
        }
    }

    .Movie {
        display: flex;
        flex-direction: row;

        .MovieTitle {
            font-size: 28px;
            font-weight: bold;
            padding: 4px 10px;
        }
        .MovieYearGenre {
            font-size: 12px;
            padding: 0 10px;
        }
        .Ratings {
            font-size: 10px;
            padding: 2px 10px;
        }
        .MoviePoster {
            width: 200px;
        }
        .MoviePlot {
            padding: 4px 10px;
        }
    }
}